@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500;700&family=Limelight&display=swap');

main
{
    position: absolute;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #FFB5CF;
    max-width: 100%;
    z-index: 1;
}

body {
    height : 100vh;
    width: 100vw;
    margin :0; 
    background-color: #FFB5CF;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #FFB5CF;
}

h1{
    font-family: 'Limelight', cursive;
    font-size: 5rem;
    text-align: center;
    color :#C00044;
    margin : 0;
    position: relative;
    z-index: 1;
}

h2 {
    font-family : 'Advent Pro', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color :#C00044;
}

p{
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    text-align: center;
    color : black;
    
}


.categories{
    font-weight: 700;
    color :#C00044;
}

.prenoms {
    display : flex; 
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -10%;
}

.prenom1 {
    margin-right: 60%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
}

.prenom2 {
    margin-left: 60%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
}

.coeur-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coeur{
    min-height: 100px;
    height: 300px; /*mettre une valeur entre 100 et 300 px*/
    width: auto;
    z-index: -1;
}

.ficheCompatibilite {
    visibility: hidden;
    margin-top : 50px; 
    background-color: #FFE0EC;
    border-radius: 25px;
    width: 50%;
}

#submit 
{
    width: 10%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
}
