@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500;700&family=Limelight&display=swap');

main
{
    position: absolute;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #FFB5CF;
    max-width: 100%;
    z-index: 1;
}

body {
    height : 100vh;
    width: 100vw;
    margin :0; 
    background-color: #FFB5CF;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #FFB5CF;
}

h1{
    font-family: 'Limelight', cursive;
    font-size: 5rem;
    text-align: center;
    color :#C00044;
    margin : 0;
    position: relative;
    z-index: 1;
}

h2 {
    font-family : 'Advent Pro', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color :#C00044;
}

p{
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    text-align: center;
    color : black;
    
}

input[type="text"]
{
    font-family: "advent Pro", sans-serif;
    font-size : 20px; 
}   

button
{
    font-family: "advent Pro", sans-serif;
    font-size : 20px; 
}


.categories{
    font-weight: 700;
    color :#C00044;
}

.prenoms {
    display : flex; 
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -10%;
}

#optionsPrenom1 {
    margin-right: 60%;
    display : flex; 
    flex-direction: column;
}

#formPrenom1 {
    font-family: "advent Pro", sans-serif;
    font-size : 14px; 
    margin-top : 10px;
}

#prenom1 {
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
}

#optionsPrenom2 {
    margin-left: 60%;
    display : flex; 
    flex-direction: column;
}

#prenom2 {
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
}

#formPrenom2 {
    font-family: "advent Pro", sans-serif;
    margin-top : 10px;
    font-size : 14px;
}

.coeur-container {
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coeur{
    min-height: 100px;
    height: 300px; /*mettre une valeur entre 100 et 300 px*/
    width: auto;
    z-index: -1;
}

.ficheCompatibilite {
    display: none;
    margin-top : 50px; 
    margin-bottom : 50px; 
    background-color: #FFE0EC;
    border-radius: 25px;
    width: 50%;
}

#submit 
{
    position: fixed;
    bottom: 20px; /* Ajustez la valeur en fonction de votre préférence */
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(234, 146, 185);
    font-family: "advent Pro", sans-serif;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
 }
 
 #texte-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Advent Pro", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #C00044;
    display: none;
 }

 #recommencer {
    margin-left : 36%;
    margin-bottom : 7%; 
 }